@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao sistema de cadastro de Inceptions</h1>
    <p><a asp-action="NovaInception" asp-controller="Inceptions" class="btn btn-primary">Clique aqui para cadastrar uma nova inception.</a>.</p>
</div>
